<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      p {
        font-size: 20px;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    </style>
  </head>
  <body>
    <p>
      You Post has been Deleted.
      <br><br>
      <a href="{% url 'account' %}">Go back to Account page</a> 
      <br><br>
      <a href="{% url 'home' %}">Go back to Home page</a>
    </p>
  </body>
</html>
